body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.home{
    width: 100%;
    height: 100vh;
    background-color:darkorchid;
}
.card{
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 10px 10px 10px rgb(43, 41, 41);
}
.card-body{
    background-color: #666;
  color: white;
}
.dropdown-menu {
    min-width: 20px
}

.notauth{
width: 700px;
height: 500px;
margin:60px auto 0 auto;
border-radius: 30px;
box-shadow:  20px 20px 60px #822bad,
             -20px -20px 60px #b03aeb;
text-align: center;

}
.notauth i,
.notauth h1,
.notauth p{


    margin-top: 50px;
 font-weight: bold;
}

.notauth i{
    font-size: 100px;
    color: black;
}
.notauth p{
    font-size: 18px;
    color: white;

}
.notauth h1{
    color: white;
}

.modal-content{
    background-color: black;
}
.modal-body{
    background-color: #777;
}




